@import url('https://fonts.googleapis.com/css2?family=Galada&family=Tourney:wght@300;400;600;700&display=swap');

body {
    background: #F2F4F8;
    font-size: 20px;
    padding: 20px;
}
table, td, tr{
    border: none;
}
table {
    width: 100%;
}
.overline {
    text-decoration: overline;
}
.font-large {
    font-size: 50px;
    font-weight: 700;
    background: #21094e;
    color: white;
    font-family: 'Tourney', cursive;
}
.font-sabuj{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Galada', cursive;
}
.font-big {
    font-size: 30px;
    font-weight: 600;
    background-color:Black;
    font-family: 'Tourney', cursive;
    color: white;
}
.scale:hover {
    transform: scaleX(1.2);
    background: lightpink;
    color: black;
    transition: transform 0.5s linear;
}
.font-medium {
    font-size: 20px;
    font-weight: bold;
    background-color:#7fc998;
    font-family: 'Tourney', cursive;
    color: black;
}
.borderless{
    border-right: 0px;
}
